.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #293f50;
}
.bottom .left{
    flex: 1;
    font-size: small;
    color: #658980;
}
.bottom .right{
    flex: 2;
    font-size: small;
    color: white;
}
.bottom .right ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bottom .right ul li{
    margin: 0 0 0 3%;
}
