div{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p{
    margin: 0;
    padding: 0;
}
.top, .middle, .bottom{
    height: 33%;
    width: 60%;
    padding: 1.7% 20% 1.7% 20%;
}

.home_menu:link, .venue_menu:link, .register_menu:link{
    color: white;
    text-decoration: none;
}
.home_menu:visited, .venue_menu:visited, .register_menu:visited{
    color: white;
    text-decoration: none;
}
.home_menu:hover, .venue_menu:hover, .register_menu:hover{
    color: aquamarine;
    text-decoration: none;
}
.home_menu:active, .venue_menu:active, .register_menu:active{
    color: cyan;
    text-decoration: none;
}
