.middle_desc{
    width: 100%;
    padding: 2.5% 0 2.5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to right, #bbdeba, #e2ebcb);
    text-align: center;
}
#venue_title{
    margin-bottom: 1.5%;
    color: #658980;
    font-size: xx-large;
    font-weight: lighter;
}
.venue_title_desc{
    line-height: 150%;
    color: #98878f;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#middle_top_half, #middle_bottom_half{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 0 15% 0;
}

#middle_top_left_half > p, #middle_bottom_left_half > p{
    font-size: smaller;
    line-height: 125%;
    color: #888888;
    margin: 0;
}
.venue_name{
    margin: 5% 0 !important;
    font-size: larger !important;
    color: #658980 !important;
}
.middle_link:link{
    font-size: smaller;
    display: block;
    margin-top: 13%;
    color: #658980;
    background-color: transparent;
}
.middle_link:visited{
    color: deeppink;
    background-color: transparent;
}
.middle_link:hover{
    color: red;
    background-color: transparent;
    text-decoration: none;
}
.middle_link:active{
    color: #00bcd4;
    background-color: transparent;
    text-decoration: none;
}

#middle_top_right_map, #middle_bottom_right_map{
    width: 60%;
    height: 170%;
}
.middle_map{
    width: 100%;
    height: 100%;
}
