.middle{
    float: left;
}
.middle .section{
    float: left;
    width: 32%;
}
.middle .margin{
    margin-right: 2%;
}

.middle .section .title{
    float: left;
    text-transform: uppercase;
    padding: 5% 0;
    font-size: smaller;
    color: #a9b2c0;
}

.middle .section .image img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
}


.title_desc, .desc{
    float: left;
    margin: 2% 0;
    line-height: 130%;
}
.middle .section .title_desc{
    font-size: larger;
    color: #658980;
}
.middle .section .desc{
    font-size: small;
    color: #888888;
}
