.middle_desc{
    width: 100%;
    padding: 2.5% 0 2.5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to right, #bbdeba, #e2ebcb);
    text-align: center;
}
#register_title{
    margin-bottom: 1.5%;
    color: #658980;
    font-size: xx-large;
    font-weight: lighter;
}
.register_title_desc{
    line-height: 150%;
    color: #98878f;
}

#purchase_info{
    margin-right: 2%;
}
#register_form{
    margin-left: 2%;
}
.purchase_info_register_form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 0;
}
#purchase_info_title{
    font-size: larger;
    color: #658980;
}
#purchase_info_price{
    margin: 2% 0;
    font-size: 70%;
    color: #b1b2b9;
}
#purchase_info_desc{
    margin: 5% 0;
    font-size: 90%;
}
#purchase_info_why{
    color: #658980;
}
#purchase_info_reasons{
    list-style-type: square;
    padding: 0 0 0 5%;
    font-size: 90%;
}
#purchase_info_desc, #purchase_info_reasons{
    color: #969696;
}

#register_form > p{
    margin: 0 0 10% 0;
}
.input_label{
    display: inline-block;
    margin-bottom: 1.5%;
    color: #658980;
}
.input{
    display: flex;
    flex-direction: column;
    border: 1px solid #c6c9cc;
    border-radius: 5px;
}
#input_name, #input_email{
    width: 100%;
    padding: 2%;
}
#input_name::placeholder, #input_email::placeholder{
    color: #969696;
}
#num_passes_drop_down{
    -moz-appearance: none;
    padding: 2.5% 9% 2% 2%;
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
    color: #969696;
}
#purchase_button{
    padding: 4% 12%;
    font-size: 110%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #648880;
}
#purchase_button:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
