.top{
    float: left;
    background: #293f50;
}
.top_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    flex: 1;
    color: #fff;
    font-size: xx-large;
}

#date_place{
    padding: 3% 0 0 0;
    color: #658980;
}
.top_content .right_half{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#main_menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#main_menu ul li{
    margin: 0 0 0 3%;
    padding: 0;
    text-transform: uppercase;
    font-size: small;
    color: white;
}
#main_menu{
    width: 100%;
}

.main_desc{
    text-align: center;
    margin: 5% 0 2% 0;
}
.main_desc .txt p{
    color: #fff;
    font-size: large;
    line-height: 150%;
}
#page_title{
    font-size: 175%;
    color: #658980;
}
.main_desc .register_button{
    display: block;
    width: 20%;
    margin: 3% auto 0;
    padding: 2.5% 1% 2.5% 1%;
    border: 1px solid white;
    border-radius: 5px;
    font-size: smaller;
}
